DATABASE_HOST = ""
DATABASE_NAME = ""
DATABASE_USERNAME = ""
DATABASE_PASSWORD = ""
DATABASE_PORT = ""

JWT_ENCRYPTION_METHOD = "Your JWT Encryption here"

# Assuming that you clone the repo directly on your www folder
SWAGGER_URL = "http://localhost/API_REST_Template/Web/Doc/swagger/" 
